* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(194, 194, 194);
}

ul.slides li img {
  filter: brightness(40%);
}

.contactForm {
  display: flex;
  flex-direction: column;
  background: rgb(75, 75, 75);
  padding: 30px;
  border-radius: 8px;
  margin: auto;
}

.quoteText {
  padding: 10px;
  border-radius: 8px;
  background: rgb(75, 75, 75);
  margin: auto;
  margin-bottom: 10px;
}

.centered {
  text-align: center;
  padding: 8px 0;
}

.section-contact {
  margin: 0 30px;
}