* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom right, black, rgb(36, 36, 36), rgb(114, 32, 70), rgb(194, 18, 100), rgba(214, 214, 24, 0.671), rgba(134, 134, 0, 0.671));
  background-attachment: fixed;
}

/* Slides */

ul.slides li img {
  filter: brightness(40%);
}

/* Testimonial Section */

.section-testimonial {
  background: rgb(185, 185, 185);
  padding: 50px;
}

.testimonialContainer {
  margin-top: 50px;
}

.testimonialCard {
  padding: 20px;
  margin: 40px 0;
  background: rgb(63, 63, 63);
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgb(78, 78, 78);
}

.imgTestimonial img {
  height: 200px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgb(36, 36, 36);
}

/* Contact Section */

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 3px;
  margin: auto;
  box-shadow: 0px 2px 5px rgb(58, 58, 58);
}

.quoteText {
  padding: 10px;
  border-radius: 8px;
  background: rgb(75, 75, 75);
  margin: auto;
  margin-bottom: 10px;
  text-shadow: 0px 1px 4px black;
}

.centered {
  text-align: center;
  padding: 8px 0;
  color: white !important;
}

.section-contact {
  margin: 0 30px;
}

/* Footer */

.socialLinks i {
  margin: 10px;
}

footer {
  padding-top: 50px;
}

.footerText {
  padding: 10px;
}